#Emmett{
}

#Batman{
	left: 40%;
}

#PrincessUnikitty{
	top: 40%;
}

#Joker{
	left: 60%;
}

#Robin{
	left: 40%;
}

#Benny{
	top: 35%; 
}

#Jay{
}

#Lloyd{
	top: 57%; 
	left: 45%;
}

#Cole{
}

#Batgirl{
	top: 40%; 
}

#Zane{
	left: 55%;
}

#Kai{
	top: 40%; 
}
