#Emmett{
	top: -20%;
	display: none;
}

#Batman{
	left: 40%;
	top: -20%;
	display: none;
}

#PrincessUnikitty{
/*	top: 40%;
*/
	top: -20%;
	display: none;
}

#Joker{
	left: 60%;
	top: -20%;
	display: none;
}

#Robin{
	left: 40%
	top: -20%;
	display: none;
}

#Benny{
	/* top: 35%; */
	top: -20%;
	display: none;
}

#Jay{
	top: -20%;
	display: none;
}

#Lloyd{
	/* top: 57%; */
	left: 45%;
	top: -20%;
	display: none;
}

#Cole{
	top: -20%;
	display: none;
}

#Batgirl{
	/* top: 40%; */
	top: -20%;
	display: none;
}

#Zane{
	left: 55%;
	top: -20%;
	display: none;
}

#Kai{
	/* top: 40%; */
	top: -20%;
	display: none;
}
