* { box-sizing: border-box; }

html { font-size: 100%; }

@font-face{
	font-family: 'Montserrat-Bold';
	font-style: normal;
	src:'../fonts/Montserrat-Bold.ttf';
}

@font-face{
	font-family: 'Montserrat-ExtraBold';
	src:'../fonts/Montserrat-ExtraBold.ttf';
}

body{
	font-family: 'Montserrat-ExtraBold', sans-serif;
	background-image: url("../images/carson-arias-197710_2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}










