/*--- ###TESTCONTENT PAGE###---*/
		.testcontent{
			display: flex;
			height: 100vh;
			width: auto;
		}



	/*--- Questionairre---*/

		/* Can't get this to work, I think it has to do with how I set up the left and right divs */
		@keyframes moveLeft{
			0% {left: -200%;}
			100% {left: 0%;}
		}

		.left{
			width: 55%;
			
			left: -200%;
			display: none;
		}

		.infobox{
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 400px;
			height: 525px;
			background: #FFF;
			border-radius: 20px;
		}

		.questionaire{
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		.q1{
			margin-top: 5%;
		}
		.q2{
			margin-top: 15%;
		}

		.infobox input{
			font-family: 'Montserrat-Light', sans-serif;
			font-size: 1em;
			width: 15em;
			border: none;
			height: 2.8em;
			padding-left: 5%;
			background-color: #F5F5F5;
			color: #939393;
			border-radius: 15px;
		}

		.prompt{
			text-transform: uppercase;
		}

		.calculate{
			position: absolute;
			top: 85%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.calculateActive{
			position: absolute;
			top: 85%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.calculateActive:hover{
			content: url(../images/buttons/Calculate_Hover.svg);
			cursor: pointer;
		}


	/*--- Match ---*/

		.right{
			width: 45%;
			background-color: #FFF;

			right: 200%;
			display: none;
		}

		#nameResult{
			position: absolute;
			top: 5%;
		}

		.imageresult{

			display: flex;
			align-items: center;
			flex-direction: column;

		}

		.legostud{
			position: absolute;
			top: 20%;
			background: #F5F5F5;
			width: 370px;
			height: 370px;
			border-radius: 50%;

			box-shadow: 0px 0px 20px -6px;

			align-items: center;

			transition: background-color .25s ease-in;
		}

		.studTop{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: auto;

		}

		.charResult{
			position: absolute;
			z-index: 5;

			opacity: 0;
/*			display: none;*/
			top: 50%;
			left: 50%;
			transform: translate(-50%, -200%);
			transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		/* This triggers the appearance of charResult*/
		.visible{
			opacity: 1;
			transform: translate(-50%, -50%);
			
/*			-webkit-transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
*/		}

		.viewCharacters{
			position: absolute;
			top: 85%;
		}

		.viewCharacters:hover{
			content: url(../images/buttons/ViewCharacters_Hover.svg);
			cursor: pointer;
		}


	/*-- Character Popup --*/

		@keyframes floatIn{
			0% {top: 200%;}
			100% {top: 50%;}
		}


		@keyframes overlayOpac{
			0% {opacity: 0;}
			100% {opacity: 0.6;}
		}

		.popUpViewCharacters{
			position: absolute;
			top: 200%;
			left: 50%;
			transform: translate(-50%, -50%);
			align-items: center;

			background-color: #FFF;
			padding: 3em;

			z-index: 10;

			border-radius: 20px;

			display: none;

			animation-name: floatIn;
			animation-duration: .35s;
			-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}


		.viewCharacterIcon{
			width: 9em;
			height: auto;
		}

		.row{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		.popUpOverlay{
			position:fixed;
			top:0;
			left:0;
			background-color: #000;
			opacity: 0;
			
			z-index:5;
			width:100%;
			height:100%;

			display: none;

			animation-name: overlayOpac;
			animation-duration: .35s;
			-webkit-transition: ease;
			transition: ease;

			/*-- background:rgba(0,0,0,0.6);
			display: none; --*/

		}

	@media only screen and (max-width: 1079px) {
		.testcontent{
			flex-direction: column;
			flex-flow: row wrap;
		}

		.left{
			width: 100%;
			margin-top: 5%;
			margin-bottom: 5%;
		}

		.right{
			width: 100%;
			height: 100%;
			padding: 7%;
		}

		#nameResult{
			position: relative;
			transition: 1s ease;
		}


		.legostud{
			position: relative;
			top:20%;
			margin: 10%;
		}

		.viewCharacters{
			position: relative;
			top: 100%;
		}

	}
